.Footer {
    position: fixed;
    top: calc(94vh);
    left: 0;
    right: 0;
     display: flex;
     flex-direction: column;
   
   
    justify-content: space-between;
     max-width: 100vw;
     padding:  0 4px;
    border: 1px solid #3866a3;
    background-color: var(--yellow);
    
  }
  .Footer-title,
  .Footer-copy{
    text-align: center;
  }